<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand nav-link disabled" href="#">
      <img src="/images/1.png" alt="" width="130" height="70" class="d-inline-block align-text-center">
      EMPRESAS POLAR
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/trabajador/listat">Trabajadores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lista de promociones/degrados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cargos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Horarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Sucursales</a>
        </li>
      </ul>
    </div>
  </div>
</nav>