<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/1.png" alt="" width="130" height="70" class="d-inline-block align-text-center">
      EMPRESAS POLAR
    </a>
  </div>
</nav>